.zb-page{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;

  .flex_col {
    display: flex;
    flex-direction: column;
    margin:20px;
  }

  .title{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
  }
  .button{
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
        border: 1px solid #999999;
  }
}
