<template>
    <span class="zb-page">
        <span class="title">我是插件的首页</span>
        <span class="title">功能演示</span>
        <AtButton :on-click="changeVuex" class="flex_col">点击我改变全局状态: {{total}}</AtButton>
        <AtButton :on-click="changeLocalStorage" class="flex_col">点击我改变本地存储状态: {{numd}}</AtButton>
        <div>
          <div class="flex_col">
            <AtButton class="flex_col" :on-click="login">登录</AtButton>
            <AtButton class="flex_col" :on-click="outlogin">退出登录</AtButton>
            <AtButton class="flex_col" :on-click="back">返回根视图</AtButton>
          </div>
        </div>
        <AtToast :isOpened="isOpened" :text="text" :duration='2000' :onClose="onClose"></AtToast>
      </span>
</template>

<script>

// 按需引入, 更小的应用体积
import { AtButton, AtToast, AtNoticebar } from 'taro-ui-vue' 
/** 导出本地存储对象 */
import {LocalStorage} from '@xy/core'
import store from '../../store/index'

 
/**
 * 应用插件是多个页面的集合，和普通应用定义存在差异
 * 导出的第一个页面可以用来处理应用启动逻辑
 * 页面生命周期存在于每一个页面
 * 没有应用生命周期
 */

export default {
  components: {
    AtButton,
    AtToast,
    AtNoticebar
  },

  data () {
    return {
      v:0,

      numd: 0,

      /** 寄主应用返回的用户信息 */
      userData: {},

      /** 是否显示清提示 */
      isOpened:false,

      text:''
    }
  },

  mounted() {
    console.log('页面加载')
    this.numd = LocalStorage.Instance("zb").getItem('numd')
  },
  destroyed(){
  },

  computed:{   
    /** 获取全局状态的值 */
    total() {
       return store.getters.num
    }
  },
  methods: {
    /** 返回 */
    back () {
      let route = {
        pathKey:'zbRoot',
        props:{}
      }
      this.openEventObj.emit('E_ROUTE_BACK',route)
    },

    /** 登录 */
    login() { 
      this.openEventObj.emit('E_PLUGIN_LOGIN').then((res)=>{ 
        this.userData = res[0]
        this.text = '登录成功:' + JSON.stringify(this.userData)
        this.isOpened = true
      })
    },

    onClose() {
      this.isOpened = false
    },

    /** 退出登录 */
    outlogin() { 
      this.openEventObj.emit('E_PLUGIN_LOGIN_OUT').then(()=>{
        this.userData = null
        this.isOpened = true
        this.text = '退出登录成功!'
      })
    },

    /** 改变全局状态 */
    changeVuex(){
      /** 改变全局状态 */
      this.v ++
      store.dispatch('setNum',this.v) 
    },

    /** 改变本地存储状态 */
    changeLocalStorage() {
      this.numd ++
      LocalStorage.Instance("zb").setItem('numd',  this.numd)
    }
  },
}
</script>
<style lang="scss"> 
  @import "./index.scss";
</style>
