<template>
  <div class="blockcenten" style="display: flex; justify-content: space-between">
    <div style="display: flex">
      <div v-for="(item, index) in getRadioItems()" :key="index" effect="dark" :disabled="false" :open-delay="1000" :content="item.label" placement="top">

        <div :class="currentIndex == index ? ['item', 'active'] : ['item']" :label="getLabel(item)" @click="clickItem(index)">
          <div v-if="!isSupportIcon(item)" class="raidoItem">{{ getLabel }}</div>
          <svg-icon
            v-if="isSupportIcon(item)"
            :icon-class="item.icon"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Watch, Vue, Emit, Model } from "vue-property-decorator";
import { Command, IVuePropEditWidget, PanelEditItem, RadioItem, RadioEdt, WidgetEdt, Widget, CommandManager} from "@xy/designlib";

/** 命令封装 */
class {{className}}Command implements Command {
  item: PanelEditItem
  description: string
  newvalue: number
  oldvalue: number

  constructor(item:PanelEditItem, commandText:string, newvalue:any, oldvalue:any) {
    this.item = item
    this.description = commandText
    this.newvalue = newvalue
    this.oldvalue = oldvalue
  }

  /** 获取命令的文字描述 */
  commandName(): string {
    return this.description
  }

  /** 执行命令 */
  execute(): void {
    this.item.setValue(this.newvalue)
  }

  /** 回撤命令 */
  undo(): void {
    this.item.setValue(this.oldvalue)
  }
}


@Component
export default class {{className}} extends Vue implements IVuePropEditWidget {
  /** 当前选择项目 */
  currentIndex: number = -1
  /** radio数据结构 */
  items:Array<RadioItem> = []
  /** 命令管理对象 */
  cmdMgr: CommandManager | null = new CommandManager()

  /** 获取编辑组件的版本 */
  getVersionInfo(): string {
    return "widgetVersion";
  }

  /** 附加的调试信息 */
  getDebugInfo() {}

  /* 编辑项对象 */
  @Prop()
  widgetMgr!: PanelEditItem;

  /** 双向绑定 */
  @Model ('change', {type: Boolean})  value!: any;

  /** 触发选择事件 */
  @Emit()
  emitSelectItem(index: number) {
    this.$emit('change', this.items[index].value)
    this.$emit('select-item', {index:index,item:this.items[index]})
  }

  /** watch监听 */
  @Watch("widgetMgr", { immediate: true })
  watchWidgetMgr(newValue: PanelEditItem): void {
    if (newValue) {
      var radioEdt:RadioEdt = this.widgetMgr.getOptions()
      this.items = radioEdt.items
      var v = this.widgetMgr.getValue()
      console.log(`当前组件中的值为`, this.widgetMgr)
      this.currentIndex = this.findSelectIndex(v)
      this.cmdMgr = newValue.getCommandMgr()
      console.log(`this.currentIndex `, this.currentIndex)
      console.log("cjeditradio 从外部获取编辑项对象成功=>", newValue);
    }
  }

  @Watch("value", { immediate: true })
  watchValue(newValue: PanelEditItem): void {
    if (newValue) {
      this.currentIndex = this.findSelectIndex(newValue)
       console.log(`双向绑定 this.currentIndex `, this.currentIndex)
    }
  }

  /** 根据值设置组件的索引 */
  findSelectIndex(value:any): number {
    return this.items.findIndex(item=>{
      return item.value == value
    })
  }

  /** 获取radio的选项列表 */
  getRadioItems(): Array<RadioItem> {
    return this.items
  }

  /** 获取项目中文名 */
  getLabel(item:RadioItem): String {
    return item.label
  }

  /** 获取当前选中索引 */
  getSelectIndex(): number {
    return this.currentIndex
  }

  /** 当前项目是否支持图标 */
  isSupportIcon(item:RadioItem):Boolean {
    return false
    return item.icon != null
  }

  /** 点击项目后回调 */
  clickItem(idx:number): void {
    let oldValue = this.widgetMgr.getValue()
    this.currentIndex = idx
    let v:RadioItem = this.items[idx]
    this.widgetMgr.setValue(v.value)
    this.emitSelectItem(idx)
    /** 获取command管理 增加命令序列 */
    this.cmdMgr?.executeCommand(
      new {{className}}Command(this.widgetMgr, this.widgetMgr.getTextDesc() + ` - ${v.label}`,v.value, oldValue)
    )
  }

  /** 生命周期方法-创建组件 */
  created() {}

  /** 生命周期方法-挂载组件 */
  mounted() {}
}
</script>

<style lang="scss" scoped>
.svg-icon{
  user-select: 'none';
  font-size: '12px';
  height: '100%'
}

.blockcenten {
  margin-top: 0;
  display: flex;
  cursor:pointer;
  justify-content: space-between;
  .item {
    text-align: center;
    padding: 0 5px;
    min-width: 60px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #f3f3f3;
    font-size: 14px;
    margin-right: 0;
    &:nth-child(3) {
      margin-right: 0;
    }
  }
  .active {
    border: 1px solid #2a86f0;
    color: #2a86f0;
    background: #dbeaff;
    fill: #2a86f0;
  }
  .activeItem {
    line-height: 35px;
    font-size: 14px;
    color: #000;
  }
  .raidoItem {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
</style>
