<!--
 * @Author: your name
 * @Date: 2021-05-14 14:57:25
 * @LastEditTime: 2021-05-19 17:43:31
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /plugin-app1/src/view/viewA.vue
-->
<template>
  <div class="zb-page">
    <div class="header">
      {{code}}
    </div>
    
    <div class="page-content"> 
      <van-grid :column-num="3" style="width:100%">
        <van-grid-item icon="photo-o" text="登录" @click="login"/>
        <van-grid-item icon="photo-o" text="路由" @click="goPageB"/> 
      </van-grid>
    </div>  
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component"; 
import { Icon, Button,Grid,GridItem } from 'vant';
import {AppRunTimeImple, routePage,userInfo,createAppRunTime} from '@xy/runtimecore'
Vue.use(Icon);
Vue.use(Button);
Vue.use(Grid);
Vue.use(GridItem);
@Component({
    name : 'ViewA'
})
export default class ViewA extends Vue {
  app!:AppRunTimeImple 
  userData!:userInfo
  mounted() { 
    this.app = createAppRunTime()
    console.log('ViewA初始化')
  }
  activated(){
    console.log('ViewA激活',this.app)
  }

  private back() {
    this.app.backView() 
  }
  private goPageB(){
    const page:routePage = {
      path:'ViewB'
    }
     this.app.pushView(page)    
  }
  private login(){
    let that = this
    this.app.login().then((e:userInfo)=>{
      console.log('登录成功：',e)  
      that.userData = e
      this.$forceUpdate()
    })
  }
}
</script>

<style lang="scss" scoped>
.zb-page{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  .header{
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  .back-btn{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-main{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn{
      width: 70px;
    }
  }
  .page-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
