<!--
 * @Author: your name
 * @Date: 2021-05-14 14:57:25
 * @LastEditTime: 2021-05-19 17:43:39
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /plugin-app1/src/view/viewB.vue
-->
<template>
  <div class="zb-page">
    <div class="header">
      路由
    </div> 
    <div class="page-content">
      <van-cell @click="back()">返回上一页</van-cell>
      <van-cell @click="pushViewC()">跳转下一页</van-cell>
      <van-cell @click="replaceViewC()">替换当前页</van-cell>
    </div> 
    
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import {AppRunTimeImple, routePage,createAppRunTime} from '@xy/runtimecore'
import { List } from 'vant';
Vue.use(List);
@Component({
  name:'ViewB'
})
export default class ViewB extends Vue { 
  app!:AppRunTimeImple 
  mounted() { 
    this.app = createAppRunTime()
  } 
  private back() {
    this.app.backView(-1) 
  } 
  private pushViewC(){ 
    const page:routePage = {
      path:'ViewC',
      params: {
        txt:'路由参数'
      }
    }
    this.app.pushView(page)    
  }
  private replaceViewC(){ 
    const page:routePage = {
      path:'ViewC',
      params: {
        txt:'路由参数'
      }
    }
    this.app.replaceView(page)    
  }
}
</script>
<style lang="scss" scoped>
.zb-page{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  .header{
    width: 100%; 
    height: 64px;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  .back-btn{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-main{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn{
      width: 70px;
    }
  }
  .page-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
</style>