<!--
 * @Author: your name
 * @Date: 2021-03-26 20:09:15
 * @LastEditTime: 2021-04-01 16:59:34
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /plugin-creater/example/public/index.html
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vant@2.12/lib/index.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <title><%= webpackConfig.name %></title>
  </head>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vant@2.0/lib/vant.min.js"></script>
  <script>
    function myload() {
      console.log('element.min.js 模块加载成功!')
    }
  </script>
  <script src="https://unpkg.com/element-ui/lib/index.js" onload="myload()"></script>


  <body  >
    <h4>项目名称:<%= webpackConfig.name %>  环境:<%= webpackConfig.mode %></h4>
    <div id="app">
    </div>
  </body>
</html>


<style>
  html ,
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
</style>
