<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <title><%= webpackConfig.name %></title>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

  <body style="background: rgb(223, 247, 232);">
    <h4>项目名称:<%= webpackConfig.name %>  环境:<%= webpackConfig.mode %></h4>
    <div id="app">
    </div>
  </body>

</html>


<style>
  html ,
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
</style>
