<!--
 * @Author: your name
 * @Date: 2021-05-19 17:39:36
 * @LastEditTime: 2021-05-19 17:41:42
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /designer-cli-template/business-plugin/_example/public/index.html
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vant@2.12/lib/index.css"
    />
  <title><%= webpackConfig.name %></title>
  </head>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vant@2.0/lib/vant.min.js"></script> 
  <script src="http://192.168.2.53:8080/@xy/runtimecore"></script> 
  <body style="background: rgb(255,255,255);">
    <!-- <h4>项目名称:<%= webpackConfig.name %>  环境:<%= webpackConfig.mode %></h4> -->
    <div id="app">
    </div>
  </body>

</html>


<style>
  html ,
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
</style>
