<template>
  <div>
    <{{projectName}} />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import {{projectName}} from "../../src/{{projectName}}.vue";
Vue.component("{{projectName}}", {{projectName}});

console.log("测试入口初始化");

@Component
export default class HelloWorld extends Vue {
  value: boolean = true;
}
</script>
