<template>
    <div class="zb-page">
        <span class="title">插件根视图</span>
        <img style="width:50px;height:50px;margin:20px;" :src="require('../../assets/image.png')" />
        <AtButton :on-click="homePage" style="margin-top:20px">
            跳转到首页
        </AtButton>
    </div>
</template>

<script>

// 按需引入, 更小的应用体积
import { AtButton, AtToast, AtNoticebar } from 'taro-ui-vue'
/** 导入状态管理 vuex */

/**
 * 应用插件是多个页面的集合，和普通应用定义存在差异
 * 导出的第一个页面可以用来处理应用启动逻辑
 * 页面生命周期存在于每一个页面
 * 没有应用生命周期
 */

export default {
  components: {
    AtButton,
    AtToast,
    AtNoticebar
  },

  data () {
    return {
    }
  },
  
  activated(){
    /** 不支持这个回调 */  
    console.log('activated')
  },
  
  onShow(){
    /** 不支持这个回调 */
    console.log('onShow')
  },

  mounted() {
    //应用启动处理
  },
  destroyed(){
    //离开应用
  },

  methods: {
    homePage () {
      /** 跳转到直播首页去 */
      let route = {
        pathKey:'zbView',
        props:{}
      }
      this.openEventObj.emit('E_ROUTE_PUSH_VIEW',route)
    }
  },
}
</script>

<style lang="scss"> 
  @import "./index.scss";
</style>
