.zb-page{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
  }
  .button{
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
        border: 1px solid #999999;
  }
}
