<template>
  <div
    @tap="widgetOnClick"
    @click="widgetOnClick"
    class="cjbutton"
  >
    <taro-button-core
      :type="getType()"
      :size="getSize()"
      :loading="widgetGetLoading()"
      :disabled="getDisabled()"
      :plain="getPlain()"
      :style="getStyle()"
    >
      确定
    </taro-button-core>
  </div>
</template>

<script lang="ts">
import {{className}}Edit from './{{projectName}}'
import {Component, Prop, Watch, Vue} from 'vue-property-decorator'
import {fillStyle2Css, cssMerge, color2Css, CJColor, FontStyle, IVueEdtWidget} from '@xy/designlib'
import {ButtonProps} from '@tarojs/components/types/Button'
import {CommonEvent} from '@tarojs/components'

@Component
export default class {{className}} extends Vue implements IVueEdtWidget {
  {{projectName}}: {{className}}Edit = new {{className}}Edit()

  /* 组件的管理对象 */
  @Prop({default: null})
  widgetMgr!: {{className}}Edit

  /** watch监听 */
  @Watch('widgetMgr', {immediate: true})
  watchWidgetMgr(newValue: {{className}}Edit): void {
    if (newValue) {
      this.{{projectName}} = newValue
      this.{{projectName}}.onPropChange = this.onPropChange
      console.log('cjbutton 从外部获取管理对象成功=>', newValue)
    }
  }

  /** 生命周期方法-创建组件 */
  created() {}

  /** 生命周期方法-挂载组件 */
  mounted() {
    this.{{projectName}}.setRunTimeDom(this)
  }

  /** 获取按钮的标题 */
  getTitle(): String {
    return this.{{projectName}}.getDataV('label')
  }

  /** 获取按钮类型 */
  getType(): ButtonProps.type {
    return this.{{projectName}}.widgetGetType()
  }

  /** 获取按钮的尺寸 */
  getSize(): ButtonProps.size {
    return this.{{projectName}}.widgetGetSize()
  }

  /** 获取按钮风格 */
  getPlain(): Boolean {
    return this.{{projectName}}.widgetGetPlain()
  }

  /** 获取图标 */
  getIcon(): String {
    return this.{{projectName}}.getSettingV('icon')
  }

  /** 获取加载状态 */
  widgetGetLoading(): Boolean {
    return this.{{projectName}}.widgetGetLoading()
  }

  /** 获取字体 */
  getFontFamily(): Object {
    return this.{{projectName}}.getSettingV('fontStyle')
  }

  /** 获取背景颜色 */
  getFillStyle(): Object {
    return fillStyle2Css(this.{{projectName}}.widgetGetFillStyle())
  }

  /** 获取前景色 */
  getForeground(): Object {
    return color2Css(this.{{projectName}}.widgetGetForeground())
  }

  /** 获取组件的自定义样式 */
  getStyle(): Object {
    let css = cssMerge([
      this.getFontFamily(),
      this.getFillStyle(),
      this.getForeground()
    ])
    console.log(css)
    return css
  }

  /**获取按钮开启状态 */
  getDisabled(): Boolean {
    return this.{{projectName}}.widgetGetDisabled()
  }

  /** 组件的属性发现改变 */
  onPropChange(fieldPath: any, newValue: any, oldValue: any) {
    console.log(`${fieldPath}`, `老数据`, oldValue, `新数据`, newValue)
    this.$forceUpdate()
  }

  /** 按钮回调 */
  widgetOnClick(event: CommonEvent) {
    this.{{projectName}}.handelOnClick(event)
  }

  /** 导出编辑模式类 */
  exportEdtClass(): any {
    return {{className}}Edit
  }

  /** 获取组件的版本信息！！！该函数会在打包的时候会自动替换 package.json 中的版本号 */
  getVersionInfo(): string {
    return 'widgetVersion'
  }

  getDebugInfo() {}
}
</script>

<style lang="scss" scoped>
.cjbutton {
  display: contents;
}
</style>>
