<template>
  <div>
    我是vue组件
  </div>
</template>

<script lang="ts">
import {Component, Prop, Watch, Vue} from 'vue-property-decorator'

@Component
export default class {{className}} extends Vue {
  /* 组件的管理对象 */
  @Prop({default: null})
  data!: any

  /** watch监听 */
  @Watch('data', {immediate: true})
  watchData(newValue: any): void {
  }

  /** 生命周期方法-创建组件 */
  created() {}

  /** 生命周期方法-挂载组件 */
  mounted() {
  }
}
</script>

<style lang="scss" scoped>
</style>>
