<template>
  <div>
    <{{projectName}} :widgetMgr="widgetmgr" v-model="value" @select-item="onSelectItem" />
    <div style="margin:20px">
      <el-button @click="onUndo">撤销</el-button>
      <el-button @click="onRedo">重做</el-button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import {{className}} from "../../src/{{projectName}}.vue";
Vue.component("{{projectName}}", {{className}});

import { DesignPage, pageinfo1, PanelEditItem, Widget, WidgetEdt, RadioEdt, RadioItem, Command} from "@xy/designlib";

console.log("测试入口初始化");

@Component
export default class HelloWorld extends Vue {
  widgetmgr: PanelEditItem | null = null
  value: any = 'default'
  page!:DesignPage
  w!:WidgetEdt
  items: Array<RadioItem> = [
      {
        label: '标准',
        value: 'default'
      },
      {
        label: 'Mini',
        value: 'mini'
      }
    ]
  data!:RadioEdt
  onUndo() {
    this.page.getCommmandMgr().undo()
    this.widgetmgr = null
    this.widgetmgr = new PanelEditItem('尺寸', 'cjeditradio', 'setting.version', this.w, this.data)
  }
  onRedo() {
    this.page.getCommmandMgr().redo()
    this.widgetmgr = null
    this.widgetmgr = new PanelEditItem('尺寸', 'cjeditradio', 'setting.version', this.w, this.data)
  }
  UndoLst() {
    return this.page.getCommmandMgr().getUndoList().map( (item: Command)=>{
      return item.commandName()
    })
  }
  RedoLst() {
    return this.page.getCommmandMgr().getRedoList().map( (item: Command)=>{
      return item.commandName()
    })
  }
  canUndo() {
    return this.page.getCommmandMgr().canUndo()
  }
  canRedo() {
    return this.page.getCommmandMgr().canRedo()
  }
  init() {
    let page:DesignPage = new DesignPage(pageinfo1)
    this.page = page
    this.w = new Widget() as WidgetEdt
    this.w.registerName = function() {
      return '按钮'
    }
    page.getContainer().addWidget(this.w)
    this.w.setSettingV('version', 'default')
    this.items = [
      {
        label: '标准',
        value: 'default'
      },
      {
        label: 'Mini',
        value: 'mini'
      }
    ]
    this.data = {
      items : this.items
    }
  }
  created() {
    this.init()
    this.widgetmgr = new PanelEditItem('尺寸', 'cjeditradio', 'setting.version', this.w, this.data)
  }

  onSelectItem(item:RadioItem) {
    console.log(this.value)
  }
}
</script>
