<!--
 * @Author: your name
 * @Date: 2021-05-14 14:57:25
 * @LastEditTime: 2021-05-19 17:42:13
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /plugin-app1/example/src/example.vue
-->
<template>
  <div id="app">
    <transition>
      <keep-alive>
        <router-view :key="$route.fullPath" class="Router" :style="{'height': '100%'}" />
      </keep-alive>
    </transition>
  </div>
  
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";  
import {Watch} from "vue-property-decorator"
import {AppRunTimeImple, routePage,userInfo,createAppRunTime,AppContent} from '@xy/runtimecore'

console.log("测试入口初始化");

@Component
export default class HelloWorld extends Vue {
  app!:AppRunTimeImple 
  enter_transitionName: string = ''; // 转场动画方向
  leave_transitionName: string = ''; // 转场动画方向X
  cachedViews : Array<any> = []
  
  @Watch('$route', {immediate: true})
  private watchRouter(to, from){
    
  }
  
  mounted() { 
    let context:AppContent = {
      router:this.$router, 
    }
    this.app = createAppRunTime() 
    this.app.setAppContext(context)
    console.log('ViewA初始化')
  }
   
}
</script>


<style lang="scss">
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: auto;
    overflow: hidden;
    position: relative;
    -webkit-backface-visibility: hidden;

    -moz-backface-visibility: hidden;

    -ms-backface-visibility: hidden;

    backface-visibility: hidden;

    -webkit-perspective: 1000;

    -moz-perspective: 1000;

    -ms-perspective: 1000;

    perspective: 1000;

    -webkit-transform: translate3d(0, 0, 0);

   -moz-transform: translate3d(0, 0, 0);

   -ms-transform: translate3d(0, 0, 0);

   transform: translate3d(0, 0, 0); 
}
</style>